<section class="website">
    <div class="container py-3">
        <h1 class="display-4">Website Design & Development</h1>
        <p class="lead">
            Looking for custom website design or custom web development?    
        </p>
        <a href="{{ url(['/website']) }}" class="btn btn-primary">Learn More</a>
    </div>
</section>
<section class="mobile-app">
    <div class="container py-3 text-right">
        <h1 class="display-4">Mobile Apps</h1>
        <p class="lead">
            Looking for custom website design or custom web development?    
        </p>
        <a href="{{ url(['/website']) }}" class="btn btn-primary">Learn More</a>
    </div>
</section>
<section class="hosting">
    <div class="container py-3">
        <h1 class="display-4">Shared Hosting</h1>
        <p class="lead">
            Easy and affordable shared hosting.<br />
            Starting at only <b>RM15.00/mo</b>
        </p>
        <a href="{{ url(['/hosting']) }}" class="btn btn-primary">Learn More</a>
    </div>
</section>