{{ set(this, 'title', t('app', 'Penang Custom Website Development')) }}

{% set steps = [
    'Strategy',
    'UI/UX and Graphic Design',
    'Coding and Development',
    'QA and Testing',
    'Tech Support and Maintanance',
] %}

{{- beginBlock('banner') -}}
<h1>Custom Website Development</h1>
<div class="row">
    <p class="col-md-8 lead text-justify"> 
        You might having very unique problem, you might have an idea but don't know how to start - it is enough for us start working. Our development team loves to be challenged and has vast experience building customized solutions to meet client needs. 
    </p>
</div>
{{- endBlock() -}}
<div class="page-website">
    <section>
        <div class="container" itemscope itemtype="http://schema.org/Service">
            <meta itemprop="serviceType" content="Website Development" />
            <h1 class="display-5">The right development for you</h1>
            <p class="lead text-justify">While there are many third-party platform available nowaday, WordPress is one of that and we love it too, but it's not always the right fit for every project. We listen to our client's, vision, ideas, specific marketing goals and we strategize a solution. If functionality requirements extend beyond any third-pary platform capabilities, we explore other, often custom-developed, solutions.</p>
        </div>
    </section>
    {# <section>
        <div class="container">
            <h1 class="display-5">Budget?</h1>
            <p class="lead text-justify"></p>
        </div>
    </section> #}
    <section class="section-why">
        <div class="container pb-5 text-center">
            <h1 class="display-5">How it work?</h1>
            <div class="how-steps row py-5">
                {% for step in steps %}
                <div class="how-step col">
                    <div class="how-step-content border p-2">
                        <div class="h-100 d-flex justify-content-center">
                            <div class="my-auto px-2">
                                {{ step }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <p class="col-md-8 mx-auto">Transparent delivery procese, flexible approach and excellent communication, we deliver custom solutions to all types of businesses, from startup to enterprises.</p>
            </div>
        </div>
    </section>  
</div>