{{ set(this, 'title', t('app', 'Affordable Share Hosting Malaysia')) }}
{{- beginBlock('banner') -}}
<h1>Custom Website Development<br /><small class="text-muted">Your Customized Solution</small></h1>
{{- endBlock() -}}
<div class="page-website">
    <section>
        <div class="container pb-5">
            <h5 class="text-justify">
                You might having very unique problem which available third-party solution miss out, you might have an idea but don't know how to start - it is enough for us start working. Our development team loves to be challenged and has vast experience building customized solutions to meet client needs. 
            </h5>
        </div>
    </section>
    <section class="section-why">
        <div class="container pb-5 text-center">
            <h2>How it work?</h2>
            <div class="how-steps row">
                <div class="how-step col">
                    <div class="how-step-content border p-2">
                        Strategy
                    </div>
                </div>
                <div class="how-step col">
                    <div class="how-step-content border p-2">
                        UI/UX Mockup
                    </div>
                </div>
                <div class="how-step col">
                    <div class="how-step-content border p-2">
                        Development
                    </div>
                </div>
                <div class="how-step col">
                    <div class="how-step-content border p-2">
                        QA & Test
                    </div>
                </div>
                <div class="how-step col">
                    <div class="how-step-content border p-2">
                        Tech Support & Maintanance
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>